body{
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial,sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;

}
/*titulo princpal*/

 h1{
    color: #00b3ff;
    font-size: 40px;
    margin-bottom: 10px;

}
/*sub titulo*/
h2{
    color:rgb(0, 132, 255);
    margin-top: 30px;

}/*titulo dos livros*/
 h3{
       color:#22c55e;
    margin-top: 30px;
}
/*texto dos livros */
 p{
   max-width: 700px;
   margin: 10px auto;
   line-height: 1.6;

}
/*botão*/
button{
    background-color: #22c55e;
    color: #020617;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;

}/*efeito ao passar o mouse por cima do botao*/
button:hover{
    background-color: #0381f7;

}
/*estilos gerais do site*/
.livro-guardiao{

    background: #111111;
    color: #ffffff;
    
}
.livro-guardiao h1{
color: #bbff00;
    font-size: px;
    margin-bottom: 10px;


}
.livro-eco{
    background: #111111;
    color: #ffffff;
    
}
.livro-eco h1{
color: #bbff00;
    font-size: px;
    margin-bottom: 10px;
}
.coracao{
 background: #111111;
    color: #ffffff;
    
}
.coracao{
    font-size: px;
    margin-bottom: 10px;

}
